:root {
  --Round_Button_Size: 85px;
}

.myContainerCustom
{
  width: auto;
  height: 80vh;
  display:flex;
  margin:2rem;

}

.pictureCustom
{
  width: 60%;
  height: 80%;
}

.itemPictureCustom
{
  width: 100%; 
  height: 100%;
  object-fit:cover;
  border-radius: 20px;

 
}

.descriptionCustom
{
  width : 80%;
  height: 80%;
  margin-right: 20%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.myButtonCustom
{
  width :30%;
  height: 120%;
  font-size:x-large;
  border-radius: 20px;

}
.buttonContainerCustom
{
  display: flex;
}

.sizeButtonsCustom 
{
  display: flex;
  justify-content: flex-start; /* Adjust as needed */
  align-items: center; /* Adjust as needed */
  padding-left: 14%;
}

.pizzaSizeButtonCustom 
{
  width: flex; /* Adjust the width as needed */
  min-width: var(--Round_Button_Size);/* Makes button a circle at minimum size*/
  height: var(--Round_Button_Size); /* Adjust the height as needed */
  border-radius: 50%; /* Makes the button round */
  margin: 1%; /* Adds some spacing between buttons */
  font-size: 30px; /* Adjust the font size as needed */
  position: relative; /* Use relative positioning */
  
}

.pizzaSizeButtonCustom.selected 
{
  background-color: var(--clr-menu-dark); /* Change background color when selected */ 
  color: #fff; /* Change text color when selected */
  border: 2px solid #000000; /* Add a border to maintain button outline */
}

.toppingButtonsCustom /*this one*/
{
  display: flex;
  padding-left: 15%;
  padding-right: 30%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0px; /* Adjust the gap as needed */
}

.pizzaToppingButtonCustom /*this one*/
{
  min-width: 15%;
  max-width: calc(25% - 10px); /* 16.666% represents 1/6 of the container width */
  min-height: 55px;
  height: flex; /* Let the height adjust based on content */
  border: none; /* Remove border */
  border-radius: 20%;
  margin: 10px;
  background-color: rgba(52, 52, 52, 0.08); /* Remove background color */
  /*flex-grow: 1; /* Allow buttons to grow within the available space */
  font-size: 20px; /* Adjust the font size as needed */
  position: relative; /* Use relative positioning */
}
.toppingButtonRowCustom 
{
  flex-basis: calc(16.666% - 10px); /* 16.666% represents 1/6 of the available width */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between buttons in a row as needed */
}
.pizzaToppingButtonCustom.selected /*final one*/
{
  background-color: var(--clr-menu-dark); /* Change background color when selected */ 
  color: #fff; /* Change text color when selected */
}

.titleCustom
{
  width : 80%;
  height: 80%;
  margin-left: 15%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
