:root {
  --Round_Button_Size: 85px;
}

h1{
  color: red;
}

tr{
  border-bottom: 1px solid;
  padding: 5px;
  font-size: 120%;
}

th{
  border-right: 1px solid;
  min-width: 100px;
}

table{
  margin: auto; /* Add this line */
  border: 0px solid; 
  width: 85%; 
  max-width: 950px;
  /* background-color: red; */
}
.diagonalHeader{
  display: grid;
  grid-template-areas: "'. a' 'b .'";
  position: relative;
}
.headerContent{
  color: red;
  font-size: 90%;
}
.pageContainer {
  max-width: 80%;
  min-width: 610px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.tableContainer{
  border: 0px solid;
}
.toppingButtonsCustom /*this one*/
{
  float: left;
  position: relative;
  display: flex;
  padding-left: 20%;
  padding-right: '';
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0px; /* Adjust the gap as needed */
}


.pizzaToppingButtonCustom /*this one*/
{
  font-size: 2em;
  white-space: nowrap;
  /* min-width: 15%; */
  max-width: 80%;
  /* min-height: 55px; */
  height: flex; /* Let the height adjust based on content */
  /* border-radius: 20%; */
  /* margin: 10px; */
  background-color: transparent; /* Remove background color */
  font-size: 1.5rem; /* Adjust the font size as needed */
  position: relative; /* Use relative positioning */
}

.titleCustom
{
  width : 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align:center;
}

@media screen and (max-width: 850px) {

  .pageContainer {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 5px;

  }

  table {
    width: 100%;
    max-width: none;
  }

  th, td {
    font-size: 2vw; /* Adjust the font size as needed for mobile */
    max-width: 100%; /* Set the maximum width to 100% of the viewport */
    word-wrap: break-word; /* Break long words to fit within the container */
  }

  .diagonalHeader {
    grid-template-areas: "'. a' 'b .'";
  }
}