:root {
  --clr-bg: #94dfdf;
  --clr-menu-light: #ffffff;
  --clr-menu: #d4d4d4;
  --clr-menu-dark: #696969;
  
  --clr-txt: #222222;
  --clr-txt-light: #808080;
  --clr-txt-highlight: #c01111;
  --clr-link: #0000ff;
  
  /* Pink theme example, uncomment below lines to override theme colors */
  /* hint: select lines, hold Ctrl(PC) or Cmd(Mac), and press backslash (/) to mass comment/uncomment */
  /* --clr-bg: #ffa9f1;
  --clr-menu-light: #ffdfff;
  --clr-menu: #e473c2;
  --clr-menu-dark: #be0973;
  
  --clr-txt: #630840;
  --clr-txt-light: #fff8e6;
  --clr-txt-highlight: #87edff;
  --clr-link: #ffffff; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:100,200,300,400,700&display=swap');

.homeHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  font-weight: 700;
}
.subHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.addressStyle {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: red;
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 2;
  text-align: center;
}

.aboutHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2;
}

.aboutText {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  top:75%;
  left: 40%; 
  transform: translate(-30%, -60%);
  z-index: 2;
  text-align: left;
}
