:root {
  --clr-bg: #94dfdf;
  --clr-accent: #d4d4d4;
  --clr-menu: #d4d4d4;
  --clr-menu-light: #ffffff;
  --clr-menu-dark: dimgray;
  --clr-txt: #222222;
  --clr-txt-light: #808080;
  --clr-txt-highlight: #c01111;
  --clr-link: blue;
  
  /* Pink theme example, uncomment below lines to override theme colors */
  /* hint: select lines, hold Ctrl(PC) or Cmd(Mac), and press backslash (/) to mass comment/uncomment */
  /* --clr-bg: #ffa9f1;
  --clr-accent: #eb4949;
  --clr-menu: #e473c2;
  --clr-menu-light: #ffdfff;
  --clr-menu-dark: rgb(190, 9, 115);
  --clr-txt: #630840;
  --clr-txt-light: #fff8e6;
  --clr-txt-highlight: rgb(135, 237, 255);
  --clr-link: white; */
}

/**************TYPOGRAPHY**************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:100,200,300,400,700&display=swap');



/**************HOME PAGE**************/
.homeHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

.homeSubHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.homeContainerStyle {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeFirstLine {
  padding-left: 2em;
}
.homeSecondLine {
  padding-left: 5em;
}
.homeThirdAndFourthLine {
  padding-left: 8em;
}

.homePizzaStyle {
  max-height: '100%';
  align-self: flex-end;
}

@media (max-width: 940px){
  .homeHeader {
    justify-content: center;
    font-size: 8vw;
    font-weight: 700;
  }
  .homeSubHeader {
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 6vw;
    font-weight: 200;
  }
  .homePizzaStyle{
    display: none;
  }
  .homeTextContainer{
    text-align:center;
    flex-direction: column;
    padding: 8%;
    align-items: center;
  }
  .homeFirstLine {
    padding-left: 0em;
  }
  .homeSecondLine {
    padding-left: 0em;
  }
  .homeThirdAndFourthLine {
    padding-left: 0em;
  }
  
}



/**************About Page**************/

.grayElipseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20vh; 
  position: relative;
  z-index: 0;
}

.grayElipseStyle {
  max-width: 90%;
  height: auto;
  position: relative;
  left: 45%;
  transform: translate(-50%, -50%);
}

.aboutContainerStyle {
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.aboutColumnPictures{
  flex-direction: column;
  flex:1;
}

.deliveryStyle {
  max-width: 80%;
    z-index: 1;
}

.pickUpStyle {
  max-width: 75%;
  padding: 5%;
}

.aboutColumnCenter{
  flex:2;
}

.aboutHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding-top: 6em;
}

.aboutText {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: transparent;
}

.aboutColumnAddress{
  flex:1;
  flex-direction: column;
}

.addressStyle {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: red;
  z-index: 2;
  text-align: center;
}

.textContainer {
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 2;
    align-self: flex-end;
}

/* Media query for screens with a maximum width of 1000px */
@media (max-width: 1000px) {
  .aboutContainerStyle {
    flex-direction: column;
    align-items: flex-start;
  }
  .grayElipseContainer{
    display: none;
  }

  .aboutHeader{
    padding: 0;
    font-size: 6vw;
  }
  .aboutColumnCenter {
    order: 1;
  }
  .aboutText {
    font-size: 4vw;
    padding: 0 1em;
  }
  .aboutColumnAddress {
    order: 2;
    align-self: center;
  }
  .addressStyle{
    font-size: 5vw;
  }
  .aboutColumnPictures {
    order: 3;
    align-self: center;
  }
  .deliveryStyle{
    width:50vw;
    align-self: center;
  }
  .pickUpStyle{
    width:50vw;
    align-self: center;
  }
}


/**************Main Menu**************/
.mainMenuContainer{
  margin: 5% 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: min(20px, 0.1vw);
  padding-right: min(20px, 0.1vw);
  display:flex;
  flex-direction: column;
  height: 100%;
  min-height: 300px;
  min-width: 300px;
}
.mainMenuHeader{
  display: flex;
  width: 100%;
  font-size: min(40px, 8vw);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--clr-txt-dark)
}
.mainMenuDownArrow{
  margin-left: max(20px, 2vw);
  margin-right: max(20px, 2vw);
  height: min(60px, 12vw);
}
.mainMenuSubmenuGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: min(40px, 4vw);
  grid-row-gap: min(30px, 1.5vh);
  margin-top: 50px;
  min-height: 300px;
  min-width: 300px;
}
.mainMenuPictureGrid{
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10%;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.mainMenuPicture{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}